<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
	<script src="app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as ctrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">

      <input type="text" placeholder="search term" class="form-control" ng-model="ctrl.searchTerm">
    </div>{{ctrl.searchTerm}}
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="ctrl.getMatchedMenuItems(ctrl.searchTerm)">Narrow It Down For Me!</button>
    </div>
    <!-- <br><br>
    <ol><br>
  <li ng-repeat="item in ctrl.found"><table bgcolor="blue" border="all"><tr><th>Short Name</th><th>Name</th><th>Description</th>
  </tr><tr>
  <td>{{item.short_name}}    </td>  <td>{{item.name}}        </td>            <td>{{item.description}}</td></tr></table>
  <button class="button" ng-click="ctrl.removeitem($index)">Remove Item</button>
  </li>
</ol><br> -->
    <found-items items="ctrl.found" on-remove="ctrl.removeitem(index)"></found-items>
    <!-- <found-items found-items="...." on-remove="....">
 -->  
 </div>

</body>
</html>
